@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001F;
  --font-Ovo: 'Ovo',serif;
  --font-Outfit: 'Outfit',sans-serif;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@layer utilities {
  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

  @media (prefers-color-scheme: dark) {
  .dark\:bg-\[none\] {
    background-image: none;
  }
}

  .animate-wave {
    animation: wave 4s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .bg-footer-light {
    background-image: url('/footer-bg-color.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% auto;
  }

  .dark .bg-footer-light {
    background-image: none;
  }

}

.font-Ovo {
  font-family: 'Ovo', serif;
}
.font-Outfit {
  font-family: 'Outfit', sans-serif;
}

*{
  font-family: Outfit;
}

@custom-variant dark (&:where(.dark, .dark *));
